/* navbar link styling */
.li{
    font-size: 13px;
    color: #222 !important;
    position: relative;
}
.li:hover ::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #222;
}
/* subscribe btn style */
.subscribeBtn{
  background-color: inherit;
  border: 1px solid black !important;
  color: black;
}
.subscribeBtn:hover{
  background-color: black;
  color: #fff;
}

/* swiper styling */
.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* image hover */
  .hoverImg1{
    display: block;
  }
  .hoverImg2{
    display: none;
  }
  .myCard:hover .hoverImg1{
      display: none;
  }
  .myCard:hover .hoverImg2{
    display: block;
}
/* select options */
.select > option{
    font-size: 14px;
}

/* card overlay */
.overlay{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 500px;
}
.overlay > img{
  object-fit: cover;
}
.overlay::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay:hover::before{
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay > .position-absolute{
  width: 100%; height: 100%;
  top: 0; left: 0;
}
/* custom btn */
.customBtn{
  background-color: transparent;
  color: black;
  border:  1px solid black !important;
  margin: 20px auto 0 auto;
  display: block;
  padding: 15px 30px;
}
.customBtn:hover{
  background-color: black;
}
/* newinSlider */
.newinSlider{
  position: relative;
  cursor: pointer;
}
.newinSlider:hover ::before{
  content: '';
  position:absolute;
  top: 0; left: 0;
  width: 100%; height: 84.1%;
  background-color: rgba(0, 0, 0, 0.3);
}